RESEND_API_KEY=re_JnJNYrLv_H41hT8vVkXWERD1RK2kdMdpD
MONGODB_URI=mongodb+srv://Munyakazi:r5bSLcYDltIFC4Oo@cluster0.qysazzv.mongodb.net/MunyakaziPortifolio
ADMIN_SECRET=
JWT_SECRET=3bcd7bd50109ae46ccc12421d8350b86cc28a5209e7f4b620adcfeaa97d121055d25acd4f6d8fca7615138672707aac7de21ffd20d5e31b86085c2f003741742
# NEXT_PUBLIC_API_URL=http://localhost:5000
# RESEND_API_KEY=re_JnJNYrLv_H41hT8vVkXWERD1RK2kdMdpD
